.card{
    width: 370px;
    height: 200px;
    border: 1px solid;
    background: linear-gradient(red 0% 50%,rgb(255, 255, 255) 50% 100%);
}

.card2{
    width: 370px;
    height: 200px;
    border: 1px solid;
    margin-top: 50px;

    background: linear-gradient(rgb(255, 245, 245) 0% 35%, blue 35% 70% , red 70% 100%);
}

.card3{
    width: 370px;
    height: 200px;
    border: 1px solid;
    margin-top: 50px;
    background: linear-gradient(rgb(0, 0, 0) 0% 35%, rgb(255, 47, 0) 35% 70% , rgb(228, 207, 21) 70% 100%);
}

.card4{
    width: 370px;
    height: 200px;
    border: 1px solid;
    margin-top: 50px;
    background: linear-gradient(rgb(255, 0, 0) 0% 35%, rgb(255, 255, 255) 35% 70% , rgb(4, 94, 174) 70% 100%);
}

.div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.card5{
    width: 370px;
    height: 200px;
    border: 1px solid;
    margin-top: 50px;
    background: linear-gradient( 90deg,rgb(13, 157, 32) 0% 35%, rgb(255, 255, 255) 35% 70% , rgb(214, 56, 28) 70% 100%);
}


.card6{
    width: 370px;
    height: 200px;
    border: 1px solid;
    margin-top: 50px;
    background: linear-gradient( 90deg,rgb(10, 66, 178) 0% 35%, rgb(255, 255, 255) 35% 70% , rgb(214, 56, 28) 70% 100%);
}

.card7{
    width: 370px;
    height: 200px;
    border: 1px solid;
    margin-top: 50px;
    margin-left: 610px;
    background: linear-gradient(rgb(15, 154, 241) 0% 35%, rgb(255, 0, 0) 35% 40% , rgb(255, 255, 255) 40% 65% , red 65% 70%, rgb(15, 194, 9) 60% 100%);
}

*{
    padding: 0;
    margin: 0;
}