.card-content a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: rgb(69, 69, 255);
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1500px;
    margin: 50px auto;
    border: 1px solid red;
}

.card-content a:hover {
    background-color: rgb(63, 63, 165);
}



.body {
    font-family: sans-serif;
    height: 100vh;
    background-color: rgb(244, 220, 220);

}

.card {
    width: 300px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(171, 171, 171);
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
}
