body{
    font-family: sans-serif;
    background-color: rgb(0, 132, 169);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
    flex-direction: column;
}

.weather-contaier{
    background-color: rgb(195, 205, 213);
    padding: 20px;
    border-radius: 10px;
      text-align: center;
    box-shadow: 0 4px 10px rgb(159, 157, 157);
    width: 300px;
    border: 1px solid green;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 15px;

}

.search-box input{
    width: 70%;
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-box button{
    padding: 8px 12px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;

}


.search-box button:hover{
    background: rgb(219, 143, 3);
}

.city-name{
    font-size: 24px;
    margin-bottom: 10px;
}

.city-name{
    font-size:  24px;
    margin-bottom: 10px;
}

.weather-info{
    font-size: 10px;
}

.temperature{
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;

}

.details{
    font-size: 16px;
}

.box{
border: 1px solid rgb(35, 91, 169);
padding: 0px 50px;
background-color: rgb(35, 91, 169);
border-radius: 8px;
box-shadow: 8px 6px 10px rgb(154, 154, 171);
}