.wrapper{
    width: 1600px;
    background-color: white;
    margin: auto;
}


.One{
    font-size: 45px;
}

body{
    background-color: grey;
}


.list{
    display: inline-block;
    vertical-align: middle;
    margin-left: 700px;
}

.image{
    vertical-align: middle;
}

li{
    display: inline-block;
    margin-left: 50px;
}

.photo{
    vertical-align: middle;
    display: inline-block;
    margin-left: 200px;
}

.box1{
    width: 1500px;
    background-color: white;
    margin: auto;
}

.card{
    display: inline-block;
    margin-left: 155px;
    border-radius: 10px;
    margin-top: 35px;
    width: 250px;
    height: 254px;
    background-color: rgb(232, 225, 216);
    padding: 50px 30px;
}

.doctor{
/* Search doctor */


font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 56px;
/* or 233% */

color: #000000;

mix-blend-mode: normal;

}

.from{
    /* Choose your doctor from thousands of specialist, general, and trusted hospitals */


font-family: 'Mulish';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 28px;
/* or 175% */

color: #7D7987;

mix-blend-mode: normal;

}


.title{
    text-align: center;
    font-size: 50px;
}

hr{
    width: 60px;
    border: 1px solid;
}

.text{
    text-align: center;
    font-size: 20px;
    color: grey;
}

.cs{
    width: 600px;
}


.leading{

    margin: 100px 0;
    padding: 0 80px;

}

.leading__left{
    display: inline-block;
}

.leading__right{
    display: inline-block;
    margin-left: 140px;
}


.leading__hr{
    margin-left: 0;

}



.leading__img{
    width: 600px;
    height: 450px;

}


.leading__title{

font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
/* or 133% */

color: #000000;

mix-blend-mode: normal;

}


.leading__text{
    width: 450px;

font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
/* or 167% */

color: #7D7987;

mix-blend-mode: normal;

}

.imger{
    width: 1600px;
    margin-right: 110px;
}

чя
