.ps{
    width: 200px;
    height: 35px;
    border: 1px solid black;
}

.green__text{
    display: none;
}
.red__texts{
display: inline ;
    color: red;
    font-size: 23px;

}

.yellow__texts{
    display: inline ;
    color: rgb(0, 0, 0);
    font-size: 23px;
}

.green__texts{
    display: inline ;
    color: rgb(35, 166, 12);
    font-size: 23px;
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

